<div id="<%= dom_id building %>">
<div class="container">
 <tr>
    <th scope="row"><%= building.id %></th>
    <td><%= building.name.capitalize %></td>
    <td><%= building.address.capitalize %></td>
    <td><%= building.city.name %></td>
    <td><%= link_to "Ver Edificio", building %></td>
    </tr>

</div>