<p style="color: green"><%= notice %></p>

<%= render @apartment %>
<% if @apartment.images.attached? %> 
<div class="d-flex col-8">
      <% @apartment.images.each do |image| %>
      <%= image_tag image, class:"photo ms-1"%>
       <% end %>

       <% else %>

      <%= image_tag 'por_defecto.jpg', class:"photo" %>
      <% end %>
</div>
<div>
  <%= link_to "Edit this apartment", edit_apartment_path(@apartment) %> |
  <%= link_to "Back to apartments", apartments_path %>

  <%= button_to "Destroy this apartment", @apartment, method: :delete %>
</div>
